# CMake
CMakeFiles/
CMakeScripts/
_deps/
*_autogen/
*.build/
CMakeCache.txt
*.cmake

# MacOSX
.DS_Store
*.xcodeproj/
*.build/
Debug/
Release/
build/
Info.plist
project.pbxproj
project.xcworkspace
xcshareddata/

# C++
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es
.qmake.cache
.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.h
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*build-*
*.mak

# QtCreator
*.autosave

# QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCtreator CMake
CMakeLists.txt.user
